<header id="header" class="p-1 border-bottom fixed-top">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="/images/IGVN.png" alt="" style="width: 62px;">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="ms-4 me-1"><a href="/"
                        class="nav-link px-2 link-dark nav-bar {{#if isHomeActive}}active{{/if}}">Trang
                        chủ</a></li>
                <li class="ms-1 me-1"><a href="/project/all"
                        class="nav-link px-2 link-dark {{#if isGamesActive}}active{{/if}}">Kho dự án</a></li>
                <li class="ms-1 me-1"><a href="/challenge/gamejam"
                        class="nav-link px-2 link-dark {{#if isGameJamActive}}active{{/if}}">Cuộc
                        thi</a></li>
                <li class="ms-1 me-1"><a href="/forum"
                        class="nav-link px-2 link-dark {{#if isComunityActive}}active{{/if}}">Cộng
                        đồng</a></li>

            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 search">
                <input type="search" class="form-control seach-box" placeholder="Search..." aria-label="Search">
                <span class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </form>

            <div class="dropdown text-end">
                {{#if user}}
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{#if user.avatarUrl}}
                    <img src="{{user.avatarUrl}}" alt="mdo" width="32" height="32" class="rounded-circle">
                    {{user.name}}
                    {{else}}
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    {{user.name}}

                    {{/if}}
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item" href="/user/projects">Dự án của tôi</a></li>
                    <li><a class="dropdown-item" href="/user/project/create">Đăng tải dự án mới</a></li>
                    <li><a class="dropdown-item" href="/user/libary">Thư viện</a></li>
                    <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout"> Đăng xuất </a></li>
                </ul>
                {{else}}
                <a href="/login" class="btn btn-outline-primary me-2">Login</a>
                <a href="/register" class="btn btn-outline-primary me-2">Register</a>
                {{/if}}
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/stylesheets/games.css">
    <nav class="genre container-fluid {{#if isGamesActive}}show{{/if}}">
        <ul class="genre-list">
            <li>
                <a href="/project/tro-choi">Trò chơi</a>
            </li>
            |

            <li>

                <a href="/project/tai-nguyen-phat-trien-tro-choi">Tài nguyên trò chơi</a>
            </li>
            |

            <li>

                <a href="/tags/all"> Các nhãn </a>
            </li>
            |

            <li>
                <a href="/genres">Thể loại</a>
            </li>
        </ul>
    </nav>
</header>