<link rel="stylesheet" href="/stylesheets/forum.css">
<main style="margin-top: 71px;">
    <section class="doc_blog_grid_area sec_pad forum-page-content">
        <div class="container">
            <div class="row"
                style="height: 200px; background: url('https://html-template.spider-themes.net/docy/img/banner-bg.png'); background-position:bottom;background-repeat: no-repeat;">

            </div>
            <div class="row mt-4">
                <div class="col-lg-9">
                    <div class="answer-action shadow">
                        <div class="action-content">
                            <div class="image-wrap">
                                <img src="https://html-template.spider-themes.net/docy/img/home_support/answer.png"
                                    alt="answer action">
                            </div>
                            <div class="content">
                                <h2 class="ans-title">Bạn đăng gặp khó khăn trong lập trình?</h2>
                                <p> Hãy để người khác giúp đỡ bạn. </p>
                            </div>
                        </div>
                        <!-- /.action-content -->
                        <div class="action-button-container">
                            <a href="/user/post/write" class="action_btn btn-ans">Đặt câu hỏi ngay</a>
                        </div>
                        <!-- /.action-button-container -->
                    </div>
                    <!-- /.answer-action -->

                    <div class="post-header forums-header">
                        <div class="col-md-6 col-sm-6 support-info">
                            <span> Forum </span>
                        </div>
                        <!-- /.support-info -->
                        <div class="col-md-6 col-sm-6 support-category-menus">
                            <ul class="forum-titles">
                                {{!-- <li class="forum-reply-count">Số bình chọn</li>
                                <li class="forum-topic-count">Số bình luận</li> --}}
                                <li class="forum-freshness">Thông tin bài đăng</li>
                            </ul>
                        </div>
                        <!-- /.support-category-menus -->
                    </div>
                    <!-- /.post-header -->

                    <div class="community-posts-wrapper bb-radius">
                        {{#each posts}}
                        <!-- Forum Item -->
                        <div class="community-post style-two forum-item bug">
                            <div class="col-md-6 post-content">
                                {{!-- <div class="author-avatar forum-icon">
                                    <img src="img/home_support/rc1.png" alt="community post">
                                </div> --}}
                                <div class="entry-content">
                                    <a href="/post/{{id}}/view">
                                        <h3 class="post-title"> {{title}} </h3>
                                    </a>
                                    <p class="clamped-text-2 post_content">
                                        {{{stripHtml content}}}
                                    </p>
                                    <div class="">

                                        {{#each tags}}
                                        <span class="badge border-0 post_tags_name">
                                            {{name}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 post-meta-wrapper">
                                <ul class="forum-titles">
                                    {{!-- <li class="forum-topic-count">200</li>
                                    <li class="forum-reply-count">12</li> --}}
                                    <li class="forum-freshness">
                                        <div class="freshness-box">
                                            <div class="freshness-top">
                                                <div class="freshness-link">
                                                    <p href="#">
                                                        {{momentTime updatedAt}}</p>
                                                </div>
                                            </div>
                                            <div class="freshness-btm">
                                                <a href="#" title="View Eh Jewel's profile" class="bbp-author-link">
                                                </a>
                                                <div class="freshness-name"><a href="#" title="View Eh Jewel's profile"
                                                        class="bbp-author-link">
                                                    </a><a href="#" title="View Eh Jewel's profile"
                                                        class="bbp-author-link">
                                                        <span class="bbp-author-name">{{user.name}}</span>
                                                    </a>
                                                </div>
                                                <span class="bbp-author-avatar">
                                                    <img alt="Eh Jewel" src="{{user.avatarUrl}}" class="avatar photo">
                                                </span>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.forum-item  -->


                        {{/each}}
                    </div>
                    <!-- /.community-posts-wrapper -->
                </div>
                <!-- /.col-lg-9 -->


                <!-- /.col-lg-3 -->
            </div>
        </div>
    </section>
</main>