<link rel="stylesheet" href="/stylesheets/index.css">
<div class="container-fluid">

    <div class="row">
        <div class="col-2 p-3 side-bar overflow-y-scroll" style="padding-top: 70px;">
            <p class="sidebar__title">Tìm kiếm</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi đang phát triển</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Tài nguyên trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Bài viết nổi bật</a>
                </li>

            </ul>

            <p class="sidebar__title">Nhãn nổi bật</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item">
                    <a class="badge text-wrap text-bg-secondary" href="#">Kinh dị</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Sinh tồn</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Nông trại</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Python</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Unity</a>
                </li>
            </ul>
            <p class="sidebar__title">Thể loại</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi đang phát triển</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Tài nguyên trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Bài viết nổi bật</a>
                </li>

            </ul>
            <p class="sidebar__title">Bài viết nổi bật</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi đang phát triển</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Tài nguyên trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Bài viết nổi bật</a>
                </li>

            </ul>
        </div>
        <div class="col-10 p-0 right__content">
            <div id="" class="carousel slide col-12" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="" class="d-block w-100" height="380px" alt="Banner" aria-placeholder="banner">
                    </div>
                    <!--                <div class="carousel-item " data-bs-interval="4000">-->
                    <!--                    <img src="/images/slide1.png" class="d-block w-100" alt="...">-->
                    <!--                </div>-->
                </div>
                <div class="p-4 col-12">
                    <div class="top__rate__game w-100">
                        <div class="">
                            <h4 class="d-inline-block">Game mới</h4>
                            <a href="/games" class="view_all__btn ms-2">Xem tất cả</a>

                        </div>
                        <div class="w-100 d-flex gap-1 flex-wrap">

                            {{#each projectInfo}}
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                {{#each images}}
                                {{#if this.isCoverImage}}
                                <img src="{{this.url}}" class="game__thumbnail" width="100%" height="100%">
                                {{/if}}
                                {{/each}}
                                {{!-- <img src="{{this.image}}" class="game__thumbnail" width="100%"> --}}
                                <span class="badge badge-primary sale">Mới</span>
                                <div class="card-body">

                                    <a href="/user/project/{{this.slug}}/view" class="card-title">{{this.name}}</a>
                                    <div class="ratings">
                                        {{!-- <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i> --}}
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </div>
                                    <p class="card-text">Short description</p>
                                    {{#if (ifEquals this.price '0')}}
                                    <p>Miễn phí</p>
                                    {{else}}
                                    <p>{{this.price}}Vnd</p>
                                    {{/if}}
                                </div>
                            </div>
                            {{/each}}


                        </div>
                    </div>
                    <div class="top__sale__game w-100 mt-3">
                        <div class="">
                            <h4 class="d-inline-block">Giảm giá</h4>
                            <a href="#" class="view_all__btn ms-2">Xem tất cả</a>

                        </div>
                        <div class="w-100 d-flex gap-1 flex-wrap">
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top__recommend__game w-100 mt-3">
                        <div class="">
                            <h4 class="d-inline-block">Dành cho bạn</h4>
                            <a href="#" class="view_all__btn ms-2">Xem tất cả</a>

                        </div>

                        <div class="w-100 d-flex gap-1 flex-wrap">

                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                            <div class="card" style="flex-basis: 200px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                <img src="/images/gameThumnail.png" class="" width="100%" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprout Valley</h5>
                                    <p class="card-text">Short description</p>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="all_game w-100 text-center mt-4">
                        <a href="/games" class="view_all_game">Tất cả trò chơi</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>