<link rel="stylesheet" href="/stylesheets/index.css">

<div style="margin-top: 71px;" class="container-fluid">

    <div class="row">
        <div class="col-2 p-3 side-bar overflow-y-scroll" style="padding-top: 70px;">
            <p class="sidebar__title">Tìm kiếm</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi đang phát triển</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Tài nguyên trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Bài viết nổi bật</a>
                </li>

            </ul>

            <p class="sidebar__title">Nhãn nổi bật</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item">
                    <a class="badge text-wrap text-bg-secondary" href="#">Kinh dị</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Sinh tồn</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Nông trại</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Python</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Unity</a>
                </li>
            </ul>
            <p class="sidebar__title">Thể loại</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi đang phát triển</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Tài nguyên trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Bài viết nổi bật</a>
                </li>

            </ul>
            <p class="sidebar__title">Bài viết nổi bật</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi đang phát triển</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Tài nguyên trò chơi</a>
                </li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Bài viết nổi bật</a>
                </li>

            </ul>
        </div>
        <div class="col-10 p-0 right__content">
            <div id="" class="col-12" data-bs-ride="carousel">
                <main>
                    <section>
                        <div id="carouselExampleCaptions" class="carousel slide" data-interval="false">
                            <div class="carousel-indicators mb-1">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                                {{!-- <button type="button" data-bs-target="#carouselExampleCaptions"
                                    data-bs-slide-to="3" aria-label="Slide 4"></button> --}}
                            </div>

                            <div class="carousel-inner"><!--The Carousel Container-->
                                {{#each hotProject}}
                                {{#if @first}}
                                <div class="carousel-item active"><!--The Carousel Slider-->
                                    <a href="/project/{{this.slug}}/view" class="card item text-bg-dark">
                                        <div class="left">
                                            {{#each this.images}}
                                            {{#if this.isCoverImage}}
                                            <img src="{{this.url}}" alt="" style="height:70%">
                                            {{/if}}
                                            {{/each}}
                                        </div>
                                        <div class="right d-flex flex-column">
                                            <div class="row">
                                                <h4 class="p">{{this.name}}</h4>
                                                <small style="font-size: 12px;" class="p">
                                                    <i>By {{this.user.name}}</i>
                                                </small>
                                                <small style="font-size: 12px;" class="p">
                                                    <i class="text-danger">{{vndFormat this.price}} </i>
                                                </small>
                                            </div>
                                            <div class="row">
                                                {{#each this.images}}
                                                {{#unless this.isCoverImage}}
                                                <img src="{{this.url}}" alt="" style="max-height:180px">

                                                {{/unless}}
                                                {{/each}}
                                            </div>
                                        </div>
                                        {{!-- <h2 class="name">Tim Spence</h2>
                                        <p class="role">Head of Marketing</p>
                                        <p class="work-at">Markson Inc</p> --}}

                                    </a>
                                </div>
                                {{else}}
                                <div class="carousel-item "><!--The Carousel Slider-->
                                    <a href="/project/{{this.slug}}/view" class="card item text-bg-dark">
                                        <div class="left">
                                            {{#each this.images}}
                                            {{#if this.isCoverImage}}
                                            <img src="{{this.url}}" alt="" style="height:70%">
                                            {{/if}}
                                            {{/each}}
                                        </div>
                                        <div class="right d-flex flex-column">
                                            <div class="row">
                                                <h4 class="p">{{this.name}}</h4>
                                                <small style="font-size: 12px;" class="p">
                                                    <i>By {{this.user.name}}</i>
                                                </small>
                                                <small style="font-size: 12px;" class="p">
                                                    <i class="text-danger">{{vndFormat this.price}} </i>
                                                </small>
                                            </div>
                                            <div class="row">
                                                {{#each this.images}}
                                                {{#unless this.isCoverImage}}
                                                <img src="{{this.url}}" alt="" style="max-height:180px">

                                                {{/unless}}
                                                {{/each}}
                                            </div>
                                        </div>
                                        {{!-- <h2 class="name">Tim Spence</h2>
                                        <p class="role">Head of Marketing</p>
                                        <p class="work-at">Markson Inc</p> --}}

                                    </a>
                                </div>
                                {{/if}}


                                {{/each}}
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                    </section>
                    {{!-- <div class="carousel-inner">

                        <div class="carousel-item active" data-bs-interval="4000">
                            <img src="" class="d-block w-100" height="380px" alt="Banner" aria-placeholder="banner">
                        </div>
                        <!--                <div class="carousel-item " data-bs-interval="4000">-->
                        <!--                    <img src="/images/slide1.png" class="d-block w-100" alt="...">-->
                        <!--                </div>-->
                    </div> --}}
                    <div class="p-4 col-12">
                        <div class="top__rate__game w-100">
                            <div class="">
                                <h4 class="d-inline-block"> Mới cập nhật</h4>
                                {{!-- <a href="/project/all" class="view_all__btn ms-2">Xem tất cả</a> --}}

                            </div>
                            <div class="mt-2 w-100 d-flex gap-4 flex-wrap justify-content-start">

                                {{#each projectInfo}}
                                <div class="card project-item"
                                    style="flex-basis: 260px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                    {{#each images}}
                                    {{#if this.isCoverImage}}
                                    <img src="{{this.url}}" class="game__thumbnail" width="100%" height="100%">
                                    {{/if}}
                                    {{/each}}
                                    {{!-- <img src="{{this.image}}" class="game__thumbnail" width="100%"> --}}
                                    <span class="badge bg-primary new">Mới</span>
                                    {{#with discounts.[0]}}
                                    <span class="badge bg-warning sale">Giảm
                                        {{discountValuePercent}}%</span>
                                    <span class="badge bg-info-subtle text-dark sale sale-duration">Còn lại
                                        {{CheckPromotionPeriod
                                        endDate}}</span>
                                    {{/with}}
                                    <div class="card-body">

                                        <a href="/project/{{this.slug}}/view" class="card-title fs-5">{{this.name}}</a>
                                        <div class="classification fw-normal" style="min-height: 20px;">
                                            <a style=" font-size: 13px" href="/project/{{this.classification.slug}}"
                                                class="badge bg-primary fw-normal">{{this.classification.name}}</a>
                                        </div>
                                        <div class="genres fw-normal" style="min-height: 20px;">
                                            <a style="--bs-bg-opacity: .65; font-size: 13px"
                                                href="/genre/{{this.genre.slug}}"
                                                class="badge bg-primary fw-normal">{{this.genre.name}}</a>
                                        </div>
                                        <div class="tags" style="min-height: 20px;">

                                            {{#each this.tags}}

                                            <a style="--bs-bg-opacity: .65;" href="/tags/{{this.slug}}"
                                                class="badge bg-danger fw-normal">{{this.name}}</a>
                                            {{/each}}
                                        </div>
                                        <p class="mt-2 card-text clamped-text-3">{{this.short_description}}</p>
                                        {{#if (ifEquals this.price '0')}}
                                        <p>Miễn phí</p>
                                        {{else}}
                                        Giá:
                                        <span
                                            class=" p-0 m-0{{#if discounts.[0]}} text-decoration-line-through {{/if}}">
                                            {{vndFormat this.price}}

                                        </span>
                                        {{#with discounts.[0]}}
                                        <br />
                                        Giảm còn:
                                        <span class="text-danger">
                                            {{ priceOnSale ../price discountValuePercent}}
                                        </span>
                                        <!-- Áp dụng định dạng VND cho giá sau giảm giá -->
                                        {{/with}}
                                        {{/if}}
                                    </div>
                                </div>
                                {{/each}}


                            </div>
                        </div>
                        <div class="top__rate__game w-100 mt-4">
                            <div class="">
                                <h4 class="d-inline-block"> Đang giảm giá</h4>
                                {{!-- <a href="/project/all" class="view_all__btn ms-2">Xem tất cả</a> --}}

                            </div>
                            <div class="mt-2 w-100 d-flex gap-4 flex-wrap justify-content-start">

                                {{#each projectInDiscount}}
                                <div class="card project-item"
                                    style="flex-basis: 260px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                    {{#each this.project.images}}
                                    {{#if isCoverImage}}
                                    <img src="{{this.url}}" class="game__thumbnail" width="100%" height="100%">
                                    {{/if}}
                                    {{/each}}
                                    {{!-- <img src="{{this.image}}" class="game__thumbnail" width="100%"> --}}
                                    <span class="badge bg-warning sale">Giảm {{discountValuePercent}}%</span>
                                    <span class="badge bg-info-subtle text-dark sale sale-duration">Còn lại
                                        {{CheckPromotionPeriod
                                        endDate}}</span>
                                    <div class="card-body">

                                        <a href="/project/{{this.project.slug}}/view"
                                            class="card-title fs-5">{{this.project.name}}</a>
                                        <div class="classification fw-normal" style="min-height: 20px;">
                                            <a style=" font-size: 13px"
                                                href="/project/{{this.project.classification.slug}}"
                                                class="badge bg-primary fw-normal">{{this.project.classification.name}}</a>
                                        </div>
                                        <div class="genres fw-normal" style="min-height: 20px;">
                                            <a style="--bs-bg-opacity: .65; font-size: 13px"
                                                href="/genre/{{this.project.genre.slug}}"
                                                class="badge bg-primary fw-normal">{{this.project.genre.name}}</a>
                                        </div>
                                        <div class="tags" style="min-height: 20px;">

                                            {{#each this.project.tags}}

                                            <a style="--bs-bg-opacity: .65;" href="/tags/{{this.slug}}"
                                                class="badge bg-danger fw-normal">{{this.name}}</a>
                                            {{/each}}
                                        </div>
                                        <p class="mt-2 card-text clamped-text-3">{{this.project.short_description}}</p>
                                        {{#if (ifEquals this.project.price '0')}}
                                        <p>Miễn phí</p>
                                        {{else}}
                                        Giá:
                                        <span class="p-0 text-decoration-line-through m-0">{{vndFormat
                                            this.project.price}}</span>
                                        <br />
                                        Giảm còn:
                                        <span class="text-danger">
                                            {{ priceOnSale this.project.price discountValuePercent}}
                                        </span>
                                        <!-- Áp dụng định dạng VND cho giá sau giảm giá -->
                                        {{/if}}
                                    </div>
                                </div>
                                {{/each}}


                            </div>
                        </div>

                        <div class="all_game w-100 text-center mt-4">
                            <a href="/project/tro-choi" class="view_all_game">Tất cả trò chơi</a>
                        </div>
                    </div>

            </div>
        </div>

    </div>

</div>