<link rel="stylesheet" href="/stylesheets/libary.css">
<main class="container" style="margin-top: 71px">

    <div class="row">

        {{!-- <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                    <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                </div>
            </div>
        </div> --}}
        <div class="container">


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title m-b-0">Danh sách dự án đã mua</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            <label class="customcheckbox m-b-20">
                                                <input type="checkbox" id="mainCheckbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </th>
                                        <th scope="col">Tên dự án</th>
                                        <th scope="col">Nhà phát triển</th>
                                        <th scope="col">Ngày mua</th>
                                        <th scope="col">Tổng thanh toán</th>
                                        <th scope="col">Phương thức thanh toán</th>
                                        <th scope="col">Trạng thái</th>

                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="customtable">
                                    {{#each paymentReturn}}
                                    <tr>
                                        <td>{{indexing @index}}</td>
                                        <td>
                                            <a href="/project/{{this.project.slug}}/view">{{this.project.name}}</a>
                                        </td>
                                        <td>{{this.project.user.name}}</td>
                                        <td>{{momentTime this.dateOfPayment}}</td>
                                        <td>
                                            {{#unless this.payment_method}}
                                            {{vndFormat "0"}}
                                            {{else}}
                                            {{#if (ifEquals this.payment_method.name 'vnpay')}}
                                            {{vndFormat this.lastPrice}}
                                            {{else}}
                                            $ {{this.lastPrice}}
                                            {{/if}}
                                            {{/unless}}
                                        </td>
                                        <td>
                                            {{#if this.payment_method}}
                                            {{this.payment_method.name}}
                                            {{else}}
                                            Không
                                            {{/if}}
                                        <td> {{this.status}}</td>

                                        <td>
                                            <a href="/project/{{this.project.id}}/bill">Hoá đơn</a> |
                                            <a href="/project/{{this.project.slug}}/rating">Đánh giá</a>

                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Danh sách theo dõi</h5>
                        </div>
                        <div class="table-responsive">
                            <div class="w-100 d-flex gap-2 justify-content-start flex-wrap">
                                {{#each projectFollow}}
                                <div class="card project-item"
                                    style="flex-basis: 310px;flex-shrink: 0;flex-grow: 0; border-radius: 0">
                                    {{#each images}}
                                    {{#if this.isCoverImage}}
                                    <img style="min-height: 180px; max-height: 180px" src="{{this.url}}"
                                        class="game__thumbnail" width="100%">
                                    {{/if}}
                                    {{/each}}
                                    {{!-- <img src="{{this.image}}" class="game__thumbnail" width="100%"> --}}
                                    {{#with discounts.[0]}}
                                    <span class="badge bg-warning sale">Giảm
                                        {{discountValuePercent}}%</span>
                                    <span class="badge bg-info-subtle text-dark sale sale-duration">Còn lại
                                        {{CheckPromotionPeriod
                                        endDate}}</span>
                                    {{/with}}
                                    <div class="card-body">

                                        <a href="/project/{{this.slug}}/view" class="card-title fs-5">{{this.name}}</a>
                                        <div class="classification fw-normal" style="min-height: 20px;">
                                            <a style=" font-size: 13px" href="/project/{{this.classification.slug}}"
                                                class="badge bg-primary fw-normal">{{this.classification.name}}</a>
                                        </div>
                                        <div class="genres fw-normal" style="min-height: 20px;">
                                            <a style="--bs-bg-opacity: .65; font-size: 13px"
                                                href="/genre/{{this.genre.slug}}"
                                                class="badge bg-primary fw-normal">{{this.genre.name}}</a>
                                        </div>
                                        <div class="tags" style="min-height: 49px;">

                                            {{#each this.tags}}

                                            <a style="--bs-bg-opacity: .65;" href="/tags/{{this.slug}}"
                                                class="badge bg-danger fw-normal">{{this.name}}</a>
                                            {{/each}}
                                        </div>
                                        <p style="min-height: 72px;" class="mt-2 card-text clamped-text-3">
                                            {{this.short_description}}</p>
                                        {{#if (ifEquals this.price '0')}}
                                        <p>Miễn phí</p>
                                        {{else}}
                                        Giá:
                                        <span
                                            class=" p-0 m-0{{#if discounts.[0]}} text-decoration-line-through {{/if}}">
                                            {{vndFormat this.price}}

                                        </span>
                                        {{#with discounts.[0]}}
                                        <br />
                                        Giảm còn:
                                        <span class="text-danger">
                                            {{ priceOnSale ../price discountValuePercent}}
                                        </span>
                                        <!-- Áp dụng định dạng VND cho giá sau giảm giá -->
                                        {{/with}}
                                        {{/if}}
                                    </div>
                                </div>
                                {{/each}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>

</script>