<link rel="stylesheet" href="/stylesheets/payview.css">
<main class="pay_main" style="margin-top: 71px;">


    <div class="container box-wrapper d-lg-flex">
        <div class="box-1 bg-light user">
            {{!-- <div class="d-flex align-items-center mb-3"> <img
                    src="https://images.pexels.com/photos/4925916/pexels-photo-4925916.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    class="pic rounded-circle" alt="">
                <p class="ps-2 name">Oliur</p>
            </div> --}}
            <div class="box-inner-1 pb-3 mb-3 ">
                <div class="d-flex justify-content-between mb-3 userdetails">
                    <p class="fw-bold">{{projectInfo.name}}</p>

                    <p class="fw-lighter  m-0 p-0">
                        {{vndFormat projectInfo.price}}

                    </p>


                </div>
                <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"
                    data-bs-interval="1000">

                    <div class="carousel-inner">
                        {{#each projectInfo.images}}
                        {{#if this.isCoverImage}}
                        <div class="carousel-item active"> <img src="{{this.url}}" class="d-block w-100"> </div>
                        {{/if}}
                        {{/each}}
                    </div>

                </div>
                <p class="dis my-3 info">{{projectInfo.short_description}}</p>
                <p class="dis mb-3 updates">Cập nhật miễn phí vĩnh viễn</p>
                <div class="dis">
                    {{!-- <p class="black"><span class="fas fa-arrow-right mb-3 pe-2"></span>Black</p>
                    <p class="white"><span class="fas fa-arrow-right mb-3 pe-2"></span>White</p>
                    <p class="pastel"><span class="fas fa-arrow-right mb-3 pe-2"></span>Pastel</p> --}}
                </div>

            </div>
        </div>
        <div class="box-2 w-100">
            <div class="box-inner-2">
                {{#unless user.isActive}}
                <p class="text-danger">
                    <i class="fa-solid fa-triangle-exclamation me-1"></i> Tài khoản của bạn chưa xác thực email. Vui
                    lòng xác
                    thực
                    email để tiếp tục thanh toán.
                    <a style="font-size: 14px;" href="/user/my-profile">Đi xác thực</a>
                </p>
                {{/unless}}
                <div>
                    <p class="fw-bold">Thanh toán</p>
                </div>
                <input type="number" value="{{projectInfo.id}}" id="project_id" name="project_id" hidden required>



                <div class="d-flex flex-column dis">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <p>Giá</p>
                        <p>{{vndFormat projectInfo.price}}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <div class="d-flex align-items-center">
                            <p class="pe-2">Giảm giá <span
                                    class="d-inline-flex align-items-center justify-content-between bg-light px-2 couponCode">
                                    <span id="code" class="pe-2"></span>
                            </p>
                        </div>
                        {{#if projectInfo.discounts}}
                        <p class="text-danger">-{{projectInfo.discounts.[0].discountValuePercent}}%</p>
                        {{else}}
                        <p class="text-danger">0%</p>
                        {{/if}}
                    </div>

                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <p class="fw-bold">Tổng thanh toán</p>
                        <p class="fw-bold"></span>{{priceOnSale projectInfo.price
                            projectInfo.discounts.[0].discountValuePercent}}</p>
                    </div>
                    <p>Trò chơi sẽ được chuyển tiếp vào email của bạn</p>
                    {{#if isFreeGame}}
                    <div class="col">
                        <form class="" action="/user/payment/free/{{projectInfo.id}}" method="POST">
                            <button {{#unless user.isActive}} disabled {{/unless}} type="submit"
                                class="w-100 btn btn-primary mt-2">Tải xuống
                            </button>
                        </form>

                    </div>
                    {{else}}

                    <div class="row">
                        <div class="col">
                            <form class="" action="/user/payment/vnpay/pay/{{projectInfo.id}}" method="POST">
                                <button {{#unless user.isActive}} disabled {{/unless}} type="submit"
                                    class="w-100 btn btn-primary mt-2">VNPay VND
                                </button>
                            </form>

                        </div>
                        <div class="col">
                            <form class="flex-1" action="/user/payment/paypal/pay/{{projectInfo.id}}" method="POST">
                                <button {{#unless user.isActive}} disabled {{/unless}} type="submit"
                                    class="w-100 btn btn-primary mt-2">Paypal USD
                                </button>
                            </form>
                        </div>
                    </div>
                    {{/if}}


                </div>
            </div>
        </div>
    </div>
</main>