<link rel="stylesheet" href="/stylesheets/project_rate.css">
<div class="heading" style="margin-top: 72px; padding-bottom: 10px">
    {{!-- <div class="change_theme">
        <div class="change_background_btn">
            <i class="fa-solid fa-palette"></i>
            <div class="chooseColor">
                Chọn màu nền: <input type="color" name="" id="">
            </div>
        </div>

    </div> --}}

    <div class="banner" title="Click to upload banner">
        <img src="https://m.gjcdn.net/game-header/1400/435648-cp4ec7zu-v4.webp" alt="">
    </div>
    <div class="heading_content">
        <div class="heading_content__title container d-flex justify-content-between">
            <div class="heading_content__title__left">
                <ul class="title__left__list">
                    <li class="title__left__list__item__banner title__left__list__item">
                        <div class="project_name">{{projectInfo.name}}
                            <i style="font-size: 12px;">by @{{projectInfo.user.name}}</i>
                        </div>

                        {{#each projectInfo.images}}
                        {{#if this.isCoverImage}}
                        <img class="title__left__list__item__banner_small" src="{{this.url}}" alt="" width="300"
                            height="170">

                        {{/if}}
                        {{/each}}

                    </li>
                    <li class="title__left__list__item">
                        <a href="/project/{{projectInfo.slug}}/view"
                            class=" pt-2 pb-2 text-decoration-none text-black">Tổng
                            quan</a>
                    </li>
                    <li class="title__left__list__item">
                        <a href="#" class="pt-2 active pb-2 text-decoration-none text-black text-primary">Đánh giá</a>
                    </li>
                </ul>
            </div>
            <div class="heading_content__title__right">
                {{#if user}}
                {{#if payment_info}}
                <a href="" class="btn-action-project btn btn-success buy_btn me-1 disabled">

                    Đã sở hữu</a>
                <a href="/user/libary" class="btn-action-project btn btn-outline-secondary buy_btn">

                    Vào thư viện</a>
                {{else}}
                <a href="/project/{{projectInfo.id}}/pay" class="btn-action-project btn btn-outline-success buy_btn 
                                                            {{#unless (ifEquals projectInfo.releaseStatus " Đã phát
                    hành") }} disabled {{/unless}} {{!-- Kiểm tra nếu chưa phát hành thì cũng không được mua --}} {{#if
                    (ifEquals user.id projectInfo.user.id) }} disabled{{/if}} {{#unless projectInfo.versions}}
                    disabled{{/unless}}" {{!-- Kiểm tra nếu là tác giả thì không được mua --}}{{#unless
                    projectInfo.versions}} title="Phiên bản tải xuống chưa có sẳn" {{/unless}}>
                    <i class=" fa-regular fa-credit-card me-2"></i>
                    Mua</a>
                <button class="btn-action-project btn btn-outline-primary follow_btn">
                    <i class="fa-solid fa-plus fa-bounce me-2"></i>
                    Theo dõi</button>
                {{!-- <button class="btn-action-project btn btn-outline-danger">
                    <i class="fa-regular fa-heart"></i>
                </button> --}}
                {{#if (ifEquals user.id projectInfo.user.id)}}
                <a title="Điều chỉnh" href="/user/project/{{projectInfo.id}}/edit" class="btn btn-outline-info">
                    <i class="fa-solid fa-palette"></i>
                </a>
                {{/if}}


                {{/if}}



                {{else}}
                {{!-- Nếu chưa đăng nhập thì chỉ được xem --}}
                <a title="Vui lòng đăng nhập" class="btn-action-project btn btn-outline-success buy_btn disabled">
                    <i class=" fa-regular fa-credit-card me-2"></i>
                    Mua</a>
                <button title="Vui lòng đăng nhập" class="btn-action-project btn btn-outline-primary follow_btn"
                    disabled>
                    <i class="fa-solid fa-plus fa-bounce me-2 disabled"></i>
                    Theo dõi</button>
                {{!-- <button title="Vui lòng đăng nhập" class="btn-action-project btn btn-outline-danger" disabled>
                    <i class="fa-regular fa-heart"></i>
                </button> --}}


                {{/if}}



            </div>

        </div>

    </div>
</div>
<main class="container">

    <div class="row">
        <div class="col-12 pt-4 comment-wrapper">
            {{#with projectInfo}}
            <div id="project_id" class="d-none">{{this.id}}
            </div>

            <div id="" class="mt">
            </div>
            {{/with}}
            {{#if user}}
            {{!-- Nếu đã dăng nhâp --}}
            {{#if isOnwerGame}}
            {{!-- Nếu đã mua game --}}
            {{#unless isRateGame}}
            {{!-- Nếu chưa đánh giá --}}
            <div class=" container mt-5 mb-5 d-flex justify-content-center ">

                <div class="card">
                    <div class="p-3">
                        <div class="first text-center"> <img src="https://i.imgur.com/KCcF6WN.png" width="80">
                            <h3 class="mt-2">Thanks you</h3>
                            <p class="text-black-50">Cảm ơn bạn vì đã mua dự án này! Để lại đánh giá để góp ý cho nhà
                                phát triển</p>
                        </div>
                        {{!-- Form đánh giá --}}
                        {{!-- Kiểm tra người mua rồi mới được hiện form đánh giá --}}
                        <div class="border p-3 rounded">
                            <form action="/user/project/{{projectInfo.slug}}/rating" method="POST">
                                <div class="row">
                                    <input type="text" hidden name="id" value="{{projectInfo.id}}">
                                    <div class="col"> <label class="radio">
                                            <input type="radio" name="experience" value="1">
                                            <span>Tệ</span> </label> </div>
                                    <div class="col"> <label class="radio">
                                            <input type="radio" name="experience" value="3">
                                            <span>Trung bình</span> </label> </div>
                                    <div class="col"> <label class="radio">
                                            <input type="radio" name="experience" value="5" checked>
                                            <span>Tốt</span> </label>
                                    </div>
                                    <div class="col"> <label class="radio">
                                            <input type="radio" name="experience" value="7">
                                            <span>Quá tốt</span> </label> </div>
                                    <div class="col"> <label class="radio">
                                            <input type="radio" name="experience" value="10">
                                            <span>Tốt nhất</span> </label> </div>
                                </div>
                                <div class="mt-4">
                                    <textarea class="area form-control" rows="4" placeholder="add comments"
                                        name="comment"> </textarea>
                                </div>
                                <div class="button mt-4 text-right">
                                    <button type="submit" class="btn btn-success submit-button">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{/unless}}
                {{/if}}
                {{/if}}
            </div>

            <div class="container-sm d-flex justify-content-center ">
                <div class="row w-75">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Đánh giá gần đây</h4>
                            </div>
                            {{#if ratingInfo}}
                            {{#each ratingInfo}}
                            <div class="comment-widgets m-b-20">

                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2">
                                        <span class="round">
                                            <img src="{{this.user.avatarUrl}}" alt="user" width="50"></span>
                                    </div>
                                    <div class="comment-text w-100">
                                        <p hidden> {{this.user.id}}</p>
                                        <p hidden> {{this.id}}</p>

                                        <span class="me-1">{{this.user.name}}</span>
                                        <span class="badge bg-secondary">{{this.experienceRate}}</span>
                                        <div class="comment-footer">
                                            <small class="text-secondary">{{momentTime this.updatedAt}}</small>
                                            <p class="">{{this.contentRate}}</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            {{/each}}
                            {{/if}}

                        </div>

                    </div>
                </div>
            </div>

        </div>
        {{!-- <div class="col-4 pt-4">
            <h5 class="d-inline-block">Thông tin dự án
            </h5>
            <a class="text-decoration-none float-end" href="#">Điều chỉnh</a>

            {{#with projectInfo}}
            <ul class="list-group">
                <li class="list-group-item">Phân loại: <a class="text-decoration-none"
                        href="">{{classification.name}}.</a>
                </li>
                <li class="list-group-item">Thể loại:
                    <a class="text-decoration-none" href="">{{genre.name}}.</a>
                </li>
                <li class="list-group-item">Nhãn:
                    {{#each tags}}
                    <a class="text-decoration-none" href="">{{this.name}},</a>
                    {{/each}}
                </li>


                <li class="list-group-item">Giá:

                    <span class="text-success">{{price}}</span>
                </li>
                {{#if versions}}
                <li class="list-group-item">Trạng thái phát hành:
                    {{#if (ifEquals releaseStatus " Đã phát hành") }}
                    <span class="text-success">{{releaseStatus}}.</span>
                    {{else}}
                    <span class="text-warning">{{releaseStatus}}.</span>

                    {{/if}}
                </li>
                {{#each versions}}

                <li class="list-group-item">Phiên bản hiện tại: {{this.version_number}}.</li>
                <li class="list-group-item">Ngày phát hành phiên bản: {{momentDay this.release_Date}}.</li>
                <li class="list-group-item">Nền tảng hổ trợ: {{#each this.downloads}}
                    {{this.platform}},
                    {{/each}}
                </li>

                {{/each}}
                {{/if}}
                <li class="list-group-item">Nhà phát triển: {{user.name}}.</li>

                <li class="list-group-item">Ngày chỉnh sửa:
                    {{momentTime updatedAt}}.
                <li class="list-group-item">Ngày đăng:
                    {{momentTime createdAt}}.</li>


                <li class="list-group-item">Trạng thái hiển thị:
                    {{#if isPublic}}
                    <span class="text-success">Công khai.</span>
                    {{else}}
                    <span class="text-danger">Riêng tư.</span>
                    {{/if}}
                </li>
            </ul>
            {{/with}}
        </div> --}}
    </div>
</main>
<script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/super-build/ckeditor.js"></script>


<script src="/javascripts/project_rate.js"></script>